@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Open+Sans:ital,wght@0,400;1,700&family=Pacifico&display=swap');

/* set entire body that is webpage */
body{
      background: rgb(14, 24, 37);
      font-family: 'Lato', sans-serif;
      color: rgb(154, 115, 76);
	padding-top: 25vh;	
}
/* set form background colour*/
form{
	background: rgb(14, 24, 37);
}
/* set padding and size of th form */
.form-container{
	border-radius: 10px;
	padding: 30px;
}
/* Submit Button */
.btn-sm {
      color: rgb(154, 115, 76);
      border-width: medium;
      border-radius: 2.5rem;
      padding: .6rem 1.3rem;
      font-size: 1.1rem;     
}
.btn-outline-light {
      
}

#hotelname {
      font-size: 1.5rem;
      text-transform: none;
      font-family: 'Dancing Script', cursive;
      font-family: 'Great Vibes', cursive;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Pacifico', cursive;
      font-weight: 500;
      letter-spacing: .3rem;
      text-shadow: .1rem .1rem .8rem black;
      padding-bottom: 1.6rem;
      padding-top: 0rem;
      padding-right: 1rem;
      padding-left: 1rem;
}
.form-footer {
      padding-top: 1rem;
      text-align: center;
}

